* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(105, 103, 103);
}

.header h1 {
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;
    letter-spacing: 2px;

}
.header h1 span {
    font-family: 'Roboto Slab', serif;
    color: rgb(114, 9, 9);
    text-align: center;
    letter-spacing: 2px;


}
.header {
    padding: 20px;
    height: 50px;
}

.top {
    height: 700px;
    background-image: url(women.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}



.about1 {
    height: 100vh;
    background-image: url(chair.jpg);
    background-size: cover;
    border: solid 1px rgb(105, 103, 103);
    padding-bottom: 40px;
    margin: 30px 20px 0 20px ;
}
.about2 {
    height: 350px;
    border: solid 1px rgb(105, 103, 103);
    margin: 0 20px;
    background-color: white;

}
.title1 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;


}
.title2 {
    font-weight: bold;
    padding-left: 10px;
}

.about2 p {
    padding: 10px;
}

.btn {
    width: 200px;
    display: block;
    padding: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    margin: 30px auto;

}
.btn:hover {
    background-color:rgb(114, 9, 9);
}


.style {
    height: 120px;
}
.style1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    color: white;

}
.style2 {
    text-align: center;
    color: white;
}


.staff-img {
    height: 400px;
    margin: 20px 20px 0 20px;
    background-image: url(stylist.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.staff-text {
    height: 350px;
    border: solid 1px rgb(105, 103, 103);
    margin: 0 20px;
    background-color: white;

}
.staff1 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;

}
.staff2 {
    font-weight: bold;
    padding-left: 10px;
}
.staff-text p {
    padding: 10px;
}
.staff3 {
    height: auto;
}


.access-top {
    height: 50px;
    margin:  20px;
    color: white;
    font-size: 30px;
    text-align: center;


}
.access iframe{
    height: 350px;
    width: 100%;
}

.footer {
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
/* 以下はpcレスポンシブ */
@media(min-width:540px) {
    





    
}
/* 画像スライド設定 */
ul.slides li {
	display:none;
	position:relative;
	list-style:none;
}
ul.slides li img {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;

    
}
